<button
  class="btn btn-primary"
  (click)="onButtonClick()">
  Display Details
</button>
<p [ngStyle]="{display: getDisplayValue()}">Secret Password = 'tuna'</p>
<hr>
<p
  *ngFor="let click of clickEvents; let i = index;"
  [ngStyle]="{backgroundColor: (i >=4 ) ? 'blue' : 'white'}"
  [ngClass]="{lotOfClicks: i >= 4}">{{ click }}</p>
